Django==1.5.11
git+https://github.com/django-nonrel/django@nonrel-1.5
git+https://github.com/django-nonrel/djangotoolbox
git+https://github.com/django-nonrel/mongodb-engine
djangotoolbox==1.6.2
mongoengine==0.9.0
pymongo==2.8
South==1.0.2